<section class="container form_container">
  <div class="form_framed">

    <%= link_to "Revenir en arrière", :back %>
    
    <h2>Editer <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <p><%= f.label :email %></p>
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>En attente de la confirmation pour: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <p><%= f.label :current_password %> <i>(Rentre ton mot de passe actuel pour pouvoir le changer)</i></p>
        <p><%= f.password_field :current_password, autocomplete: "off" %></p>
      </div>

      <div class="field">
        <p><%= f.label :password %> <i>(Laisse vide si tu ne veux pas changer ton mot de passe)</i></p>
        <p><%= f.password_field :password, autocomplete: "off" %></p>
        <% if @minimum_password_length %>
          <p><em>Il faut minimum<%= @minimum_password_length %> charactères dans ton mot de passe (allez fait un effort c'est pour ton bien)</em></p>
        <% end %>
      </div>

      <div class="field">
        <p><%= f.label :password_confirmation %></p>
        <p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
      </div>

      <div class="actions">
        <%= f.submit "Mettre à jour mon profil" %>
      </div>
    <% end %>

    <h3>Supprimer mon compte</h3>

    <p>Si vous souhaitez vraiment supprimer votre compte vous ne pourrez plus JAMAIS le récupérer ... Vous êtes vraiment sur que c'est ce que vous voulez faire ? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  </div>

</section>
