<h1><%= t('views.comments.index.comments') %></h1>

<ul>
    <% @comments.each do |comment| %>
        <li><%= comment.title %></li>
        <li><%= comment.content %></li>
        <li><%= comment.datetime %></li>
        <li><%= comment.user_id %></li>

    <% end %>
</ul>

<%= link_to t('views.comments.index.article'), posts_path %>
