<%= render partial: 'shared/menu' %>

<section class="container">
  <h1>Laisser un commentaire :</h1>

  <div class="form_framed color_blue">
    <%= form_for @comment, :url => { :action => "create" } do |f| %>

      <p><%= f.label t('views.comments.new.title') %></p>
      <p><%= f.text_area :title, placeholder: t('views.comments.new.title_field') %></p>

      <p><%= f.label t('views.comments.new.content') %></p>
      <p><%= f.text_area :content, placeholder: t('views.comments.new.comment_field') %></p>

      <p><%= f.hidden_field :user_id, value: current_user.id %>
      <p><%= f.hidden_field :post_id, value: params[:format] %>


      <%= f.submit t('views.comments.new.submit') %>
    <% end %>
  </div>
</section>
