<%= render partial: 'shared/menu' %>

<section class="container">
  <h1><%= t('views.shared.menu.users') %></h1>

  <ul>
      <% @users.each do |user| %>
        <li class="profil_gastronome col-sm-5">
          <h3><%= user.username %></h3>
          <p><%= user.email %></p>
          <p class="blog_gastronome"><%= link_to "Voir son blog", user_path(user.id) %></p>
        </li>


      <% end %>
  </ul>
</section>