<%= render partial: 'shared/menu' %>
<h1><%= t('views.shared.menu.users') %></h1>

<ul>
    <% @users.each do |user| %>
      <li><%= user.username %></li>
      <p><%= user.email %></p>
      <%= link_to "Voir son blog", user_path(user.id) %>


    <% end %>
</ul>
