<%= render partial: 'shared/menu' %>
<section class="container">
    <div class="section_profil">
        <h1>Mon profil</h1>
        <h3><%= @user.username %> </h3>
        <h3><%= @user.email %> </h3>
    </div>
    <hr />

    <h3> <%= t('views.shared.menu.post_user')%>
    <p><%= render partial: 'shared/postsShow' %></p>

</section>
