<section class="container form_container">

  <div class="form_framed">
    <h1>C'est la cerise sur le gateau !</h1>
    <h2>Tu as oublié ton mot de passe ?<br/> Don't worry be happy</h2>
    <p>Il te suffit juste de rentrer ton email pour le réinitialiser ;)</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Renvoyer mon mot de passe" %>
      </div>

      <%= render "devise/shared/links" %>
      
    <% end %>
  </div>
</section>
