<section class="container-fluid">
  <nav class="nav nav-pills nav-fill">
    <li class="nav-item"><%= link_to 'Home', root_path %></li>

    <% if user_signed_in? %>

      <li class="nav-item"><%= link_to current_user.username, user_path(current_user.id) %></li>
      
      <li class="nav-item"><%= link_to t('views.shared.menu.users'), users_path %></li>
      <li class="nav-item"><%= link_to t('views.shared.menu.posts'), posts_path %></li>
      <li class="nav-item"><%= link_to t('views.shared.menu.new_post'), new_post_path %></li>

      <li class="nav-item"><%= link_to "Modifier mon profil", edit_user_registration_path %></li>
      <li class="nav-item"><%= link_to t('views.shared.menu.sign_out'), destroy_user_session_path, method: :delete %></li>
          
    <% else %>
      <li class="nav-item"><%= link_to t('views.shared.menu.sign_out'), user_session_path, method: :get %></li>
    <% end %>
  </nav>
</section>