<%= render partial: 'shared/menu' %>
<h1><%= t('views.posts.new.new_post')%></h1>
    <%= form_for @post do |f| %>

            <%= f.label t('views.posts.new.title') %><br>

            <%= f.text_field :title, placeholder: t('views.posts.new.title_field') %><br><br>

            <%= f.label  t('views.posts.new.content') %><br>
            <%= f.text_area :content, placeholder: t('views.posts.new.content_field') %><br><br>

            <%= f.hidden_field :user_id, value: current_user.id %>

            <%= f.submit t('views.posts.new.submit') %>
<% end %>
