<%= render partial: 'shared/menu' %>

<section class="container">

    <h1><%= @post.title %> - <small> <%= @post.date %></small></h1>
    <hr />
    <p><%= @post.content %></p>
    <p><%= @post.user.username %></p>
    <ul>
        <% if user_signed_in? %>
            <%= link_to t('views.posts.show.comment'), new_comment_path(@post.id) %>
        <% end %>
        <%= render partial: 'shared/commentsShow', locals: { comments: @post.comments } %>

    </ul>
</section>
